{
	"publish_and_subscribe_with_selector": {
		"test_name": "test_create_producer_and_consumer_for_destination",
		"enabled": true,
		"expected": {
			"exceptions": {
				"connection1": {
					"count": 0
				}
			},
			"messages": {
				"consumer1": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine",
					"message_count": 1
				},
				"consumer2": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine",
					"message_count": 1
				}
			}
		},
		"cms_configuration": {
			"connection1": {
				"broker": "failover:(localhost:5671,localhost:5672,localhost:5673)?maxReconnectAttempts=1",
				"username": "client",
				"password": "client",
				"session": {
					"session1": {
						"auto_ack": true,
						"is_transacted": false,
						"clients": {
							"consumers": {
								"consumer1": {
									"dest_type": "topic",
									"address": "CMS_TEST_CORE_MULTICAST::PublishSubscribeTest_REGION_MOON",
									"selector": "REGION = 'MOON'"
								},
								"consumer2": {
									"dest_type": "topic",
									"address": "CMS_TEST_CORE_MULTICAST::PublishSubscribeTest_REGION_US",
									"selector": "REGION = 'US'"
								}
							},
							"producers": {
								"producer1": {
									"dest_type": "topic",
									"address": "CMS_TEST_CORE_MULTICAST"
								},
								"producer2": {
									"dest_type": "topic",
									"address": "CMS_TEST_CORE_MULTICAST"
								}
							}
						}
					}
				}
			}
		},
		"message_parameters": {
			"producer1": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "framework",
				"message_count": 1,
				"properties": {
					"REGION": "MOON"
				}
			},
			"producer2": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "framework",
				"message_count": 1,
				"properties": {
					"REGION": "UK"
				}
			}
		}
	}
}